


#container {
    position: relative;
    background-color: #7f7a77;
    padding: 1px;
    margin: 0px 0px 0px 0px;
    width:1000px;
    margin-left: 50%;
    left: -500px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 5px 5px 5px 5px;
}
#top {
    position: relative;
    background-color: #e5dfd8;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#menu {
    position: relative;
    background-color: #403d3b;
    color: white;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: 32px;
    font-family: 'Arimo';
    font-size:  14px;

}
#opciones {
    cursor: pointer;
}
.mopon {
    float:left;
    background-color: #651759;
    padding: 8px;
}
.mopoff {
    float:left;
    background-color: #403d3b;
    padding: 8px;
    border-right: 1px solid grey;
}
.mophover {
    float:left;
    background-color:darkmagenta;    
    padding: 8px;
}

#content {
    position: relative;
    background-color: #cfcfca;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    font-family: 'Molengo';
}

#bottom {
    color: white;
    position: relative;
    background-color: #7f7a77;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 5px 5px;
}


.caja {
    position: relative;
    border: 1px solid #c5bfb8;
    border-radius: 10px 10px 10px 10px;
    margin: 0px auto;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Molengo';
    background: white;
}

.ui-tree {
    position: relative;
    border: 1px solid #e5dfd8;
    border-radius: 0px 0px 10px 10px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-family: 'Molengo';
    background: white;
}

.cajaTitulo {
    margin-top: 15px;
    position: relative;
    border: 1px solid #e5dfd8;
    border-radius: 10px 10px 0px 0px;
    margin: 0px auto;
    padding: 10px;
    background-color: #e5dfd8;
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
    font-size:  42px;    
}

.cajaTituloChico {
    margin-top: 15px;
    position: relative;
    border: 1px solid #e5dfd8;
    border-radius: 10px 10px 0px 0px;
    margin: 0px auto;
    padding-left: 5px;
    background-color: #e5dfd8;
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
    font-size:  20px;    
}

.cajaContent {
    position: relative;
    border: 1px solid #e5dfd8;
    border-radius: 0px 0px 10px 10px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-family: 'Molengo';
    background-color: white;
}


.avatar {

    background-size: 80px 80px;
    border: 1px solid #a59f98;
    border-radius: 5px 5px 5px 5px;


}
#encabezadoPasos {



}

.ui-datagrid-content {
    border: none;
    padding-left: 20px;
    background: none;

}    

.cajaVot {
    position: relative;
    border: 1px solid #e5dfd8;
    border-radius: 8px 8px 8px 8px;
    width: 280px;
    height: 280px;
    background-size: 280px 280px;
    cursor: pointer;
}

.headerCajaVot {
    background-color: rgba(0,0,0,0.65);
    border-radius: 8px 8px 0px 0px;
    font-family: 'Arimo', sans-serif;
    font-size:  20px;
    color:white;     
}

.tituloCajaVot {
    padding: 5px 5px 10px 5px;
    text-shadow: 1px 1px 1px #000;
}

.avatarCajaVot {
    position: relative;
    float: left;
    -moz-box-shadow:2px 2px 4px 1px rgba(34, 34, 34, 0.5);
    -webkit-box-shadow:2px 2px 4px 1px rgba(34, 34, 34, 0.5);
    box-shadow:2px 2px 4px 1px rgba(34, 34, 34, 0.5);                 
    left: 5px;
    top:-8px;
    width:50px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
}

.convocaCajaVot {
    float: left;
    color: white;
    font-size: 10px;
    margin-left: 10px;
    text-shadow: 1px 1px 1px #000;
}

.descripcionCajaVot {
    background-color: rgba(0,0,0,0.65);
    width: 100%;
    font-family: 'Molengo';
    font-size:  14px;
    font-style: italic;
    text-shadow: 1px 1px 1px #000;
    color:white;
    position: absolute;
    bottom: 25px;    
}

.textoDescCajaVot {
    padding: 10px 5px 5px 5px;    
}

.timerCajaVot {
    height: 25px;
    width: 100%;
    background-color: #7f7a77;
    border-radius: 0px 0px 8px 8px;
    font-family: 'Molengo';
    font-size:  12px;

    color:white;
    position: absolute;
    bottom: 0px;    
}

.textoTimerCajaVot {
    margin-left: 6px;
    margin-top: 6px;
}

.convocaEnAvatar {
    height: 35px;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
    border-radius: 0px 0px 5px 5px;
    font-family: 'Molengo';
    font-size:  12px;

    color:white;
    position: absolute;
    bottom: 0px;    
}


.ui-editor {
    width: 300px;
    height: 100px;
}

.ui-selectonemenu {
    font-family: 'Molengo';
    font-size: 14px;
}

.ui-selectonemenu-items {
    font-family: 'Molengo';
    font-size: 14px;
}