
#container {
    position: relative;
    background-color: #7f7a77;
    padding: 1px;
    margin: 0px 0px 0px 0px;
    width:900px;
    margin-left: 50%;
    left: -450px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    border-radius: 5px 5px 5px 5px;
}
#top {
    position: relative;
    background-color: #e5dfd8;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#menu {
    position: relative;
    background-color: #403d3b;
    color: white;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: 37px;
    font-family: 'Arimo';
    font-size:  18px;

}
#opciones {
    cursor: pointer;
}
.mopon {
    float:left;
    background-color: #651759;
    padding: 8px;
}
.mopoff {
    float:left;
    background-color: #403d3b;
    padding: 8px;
    border-right: 1px solid grey;
}
.mophover {
    float:left;
    background-color:darkmagenta;    
    padding: 8px;
}

#content {
    position: relative;
    background-color: #fff5ed;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}

#bottom {
    color: white;
    position: relative;
    background-color: #7f7a77;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 5px 5px;
}


.caja {
    position: relative;
    border: 1px solid #e5dfd8;
    border-radius: 10px 10px 10px 10px;
    margin: 0px auto;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.cajaTitulo {
    margin-top: 15px;
    position: relative;
    border: 1px solid #e5dfd8;
    border-radius: 10px 10px 0px 0px;
    margin: 0px auto;
    padding: 10px;
    background-color: #e5dfd8;
    margin-top: 15px;
    font-family: 'Arimo';
    font-size:  28px;    
}

.cajaContent {
    position: relative;
    border: 1px solid #e5dfd8;
    border-radius: 0px 0px 10px 10px;
    margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    
}


.avatar {

    background-size: 80px 80px;
    border: 1px solid #a59f98;
    border-radius: 5px 5px 5px 5px;


}
#encabezadoPasos {



}
