/* 
    Document   : afiliacion
    Created on : Jun 8, 2012, 10:21:52 PM
    Author     : alfonso
    Description:
        Purpose of the stylesheet follows.
*/

#headVotaciones {
    margin: 15px;
    text-align: center;
}