/* 
    Document   : afiliacion
    Created on : Jun 8, 2012, 10:21:52 PM
    Author     : alfonso
    Description:
        Purpose of the stylesheet follows.
*/



.tabla {

    width: 285px;
    border: 1px solid #e5dfd8;
    font-size: 16px;
    font-family: 'Molengo';
    margin: 0px auto;
}

.headerTabla {
    margin: 0px auto;
    background-color: #e5dfd8;
    color: #555555;
    width: 281px;
    border: 1px solid #e5dfd8;
    padding: 2px;
    font-size: 16px;
}

.renglonTabla {
    border-bottom: 1px solid #e5dfd8;
    padding: 2px;        
}


.agregar {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 285px;
    text-align: center;
    border: 1px solid #e5dfd8;
}

#menuVotacion {
    position: relative;
    background-color: #403d3b;
    color: white;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: 32px;
    font-family: 'Arimo';
    font-size:  14px;

}

.votmopon {
    float:left;
    background-color: #651759;
    padding: 8px;
}
.votmopoff {
    float:left;
    background-color: #403d3b;
    padding: 8px;
    border-right: 1px solid grey;
}
.votmophover {
    float:left;
    background-color:darkmagenta;    
    padding: 8px;
}


.ui-picklist-source {
    width:440px !important;
    min-height: 400px;
    font-family: 'Molengo';
    font-size:  16px;     

}

.ui-picklist-target {
    width:440px !important;
    min-height: 400px;
    font-family: 'Molengo';
    font-size:  16px;    

}